/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* FONT END */

/* COLORS */
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
/* COLORS END */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* ------HEADER------ */
header{
    display: flex;
    outline: red solid 1px;
    background-color: red;
}
/* ------HEADER------  END*/