/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* FONT END */

/* COLORS */
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
/* COLORS END */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    padding: 3em 10em;
}

/* ------HEADER------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav{
    display: flex;
    gap: 2em;
}
.nav li{
    list-style-type: none;
}
.nav a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.6;
    font-weight: bold;
}
/* ------HEADER END------*/

/* --------MAIN-------- */
main{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 5em;
}
/* story */
main .story{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1em;
}
.story .banner{
    width: 100%;
}
.story-caption{
    display: flex;
    align-items: center;
}
.story-caption .title{
    width: 50%;
}
.story-caption h1{
    width: 90%;
    font-size: 3rem;
}
.story-caption .read-card{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
}
.read-card p{
    opacity: 0.7;
    font-weight: 400;
    line-height: 1.5em;
}
.read-card a{
    text-decoration: none;
    color: var(--off-white);
    background-color: var(--soft-red);
    padding: 0.8em 1em;
    width: fit-content;
    letter-spacing: 5px;
}
/* story end*/

/* aside*/
.aside{
    background: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.1em 2em;
}
.aside h2{
    color: #dfdf60;
    font-size: 1.7rem;
}
.aside .new{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.aside h3{
    color: #fff;
}
.aside p{
    color: #fff;
    opacity: 0.5;
    font-size: 15px;
}
/* aside end*/

/* topics */
.topics{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    gap: 1em;
}
.topic-card{
    display: flex;
    gap: 1em;
}
.topic-img{
    max-width: 7em;
}
.topic-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topic-wrapper h3{
    opacity: 0.5;
    font-size: 1.7rem;
}
.topic-wrapper > :nth-child(2){
    font-weight: bold;
}
.topic-wrapper > :nth-child(3){
    font-size: 15px;
    opacity: 0.7;
}
/* topics end */
/* --------MAIN END-------- */