/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* FONT END */

/* COLORS */
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
/* COLORS END */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    padding: 3em 10em;
}

/* ------HEADER------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav{
    display: flex;
    gap: 2em;
}
.nav li{
    list-style-type: none;
}
.nav a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.6;
    font-weight: bold;
}
/* ------HEADER------  END*/